mat-toolbar-row
  padding 0 20px

.logo
  margin-right 5px

span
  margin-right 10px

.icon
  padding 0 14px

.discord
  margin-bottom -5px

.github
  margin-bottom -4px

.spacer
  flex 1 1 auto

a:link
a:visited
a:hover
a:active
  color white
