<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="column wrap" fxLayout.lt-sm="column">
      <p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.netlify.com/">
          Hosted by Netlify
        </a>
      </p>
      <p>
        OpenOSRS uses profiling tools provided by <a href="https://www.yourkit.com/java/profiler/">
        <img src="https://www.yourkit.com/images/yklogo.png" width="90" height="20" title="YourKit" alt="">
      </a>
      </p>
      <p>
        OpenOSRS is not affiliated with jagex or runelite in any way.
      </p>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
