#wrapper {
  blockquote,
  pre {
    margin: 3px 0;
  }

  blockquote {
    border-left: 4px solid #ddd;
    padding: 0 15px;
    color: #777;

    @media (prefers-color-scheme: light) {
      border-left: 4px solid #ddd;
      color: #777;
    }

    @media (prefers-color-scheme: dark) {
      border-left: 4px solid #222222;
      color: #aaaaaa;
    }

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 10px;
      }
    }
  }

  a {
    color: inherit;
  }

  code,
  tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family: "Source Code Pro", Consolas, Courier, monospace;
    font-size: 80%;
    color: #333333;

    @media (prefers-color-scheme: light) {
      color: #333333;
      background-color: #f8f8f8;
      border: 1px solid #eaeaea;
    }

    @media (prefers-color-scheme: dark) {
      color: #f8f8f8;
      background-color: #333333;
      border: 1px solid #151515;
    }
  }

  pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 110%;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 26px 0;

    @media (prefers-color-scheme: light) {
      color: #333333;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
    }

    @media (prefers-color-scheme: dark) {
      color: #f8f8f8;
      background-color: #333333;
      border: 1px solid #ccc;
    }

    code,
    tt {
      background-color: transparent;
      border: none;
    }
  }
}
