<div class="wrapper">
  <div class="content-header mat-toolbar mat-primary">
    <span>
      Integration
    </span>
  </div>
  <div class="content" fxLayout="column wrap">
    <div class="header" fxLayout="row wrap" fxLayoutAlign="center">
      <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-xl="0 1 82%" fxFlex.lt-lg="0 1 90%" fxFlex.lt-md="0 1 90%"
        fxFlex.lt-sm="0 1 85%" class="align-justify">
        <h2>
          Intergration
        </h2>
      </div>
      <p>
        Reply to the Discord bot via Direct Message with the following message: !ghauth {{ code }}
      </p>
    </div>
  </div>
</div>
