.wrapper {
  margin-top: 64px;

  .header-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url("/assets/header.webp");
    min-height: 10em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
  }

  .no-webp.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url("/assets/header.png");
  }

  .header-text {
    text-align: center;
    color: white;

    h1 {
      align-self: center;
      font-size: 50px;
    }

    p {
      margin-top: 15px;
    }

    a {
      margin: 25px 5px 0 15px;
    }
  }

  .content {
    justify-content: center;
    margin: 20px 0;

    div {
      align-items: center;
      justify-content: center;

      .card-container {
        padding: 10px 24px;
        align-items: center;
        justify-content: center;

        mat-card-title {
          margin: 0 0 12px;
        }

        mat-card-content {
          line-height: 13pt;
          text-align: justify;
        }
      }
    }
  }
}
