.spacer
.wrapper
  .header-image([class.no-webp]="!webp")
    .header-text
      h1 RuneLitePlus
      
      p Fork of RuneLite that provides more functionality and less restrictions while staying open source.

      a(href="https://runelitepl.us/RuneLitePlus.jar", mat-raised-button, color="primary") Download exe
      a(href="https://runelitepl.us/RuneLitePlus.jar", mat-raised-button, color="primary") Download jar


  .content
    div(fxLayout="row wrap")
      .card-container(fxFlex="0 1 20%", fxFlex.lt-lg="0 1 33.3%", fxFlex.lt-md="0 1 100%", fxFlex.lt-sm="100%")
        mat-card.example-card
          mat-card-header
            mat-card-title Plugin Support
          mat-card-content
            p Load your own plugins with our external jar plugin support. Simple and easy! Code your own or use premade plugins!
          mat-card-actions
            button(mat-raised-button) Read more

      .card-container(fxFlex="0 1 20%", fxFlex.lt-xl="0 1 25%",  fxFlex.lt-lg="0 1 33.3%", fxFlex.lt-md="0 1 100%", fxFlex.lt-sm="100%")
        mat-card.example-card
          mat-card-header
            mat-card-title Open source
          mat-card-content
            p This is meant to directly compete with 3rd party clients that are trying to sell their code
          mat-card-actions
            button(mat-raised-button) View RL+ source

      .card-container(fxFlex="0 1 20%", fxFlex.lt-xl="0 1 25%",  fxFlex.lt-lg="0 1 33.3%", fxFlex.lt-md="0 1 100%", fxFlex.lt-sm="100%")
        mat-card.example-card
          mat-card-header
            mat-card-title Many features
          mat-card-content
            p RuneLitePlus is jam packed full of features, check out our feature page for a full list of our features.
          mat-card-actions
            button(mat-raised-button) Read features


