.wrapper {
  @supports (padding: m#{a}x(0px)) {
    padding-left: m#{a}x(20px, env(safe-area-inset-left));
    padding-right: m#{a}x(20px, env(safe-area-inset-right));
  }

  .content-header {
    padding-top: 64px;
    height: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 599px) {
      padding-top: 94px;
    }

    span {
      font-weight: normal;
      padding: 0 20px;

      @supports (padding: m#{a}x(0px)) {
        padding-left: m#{a}x(20px, env(safe-area-inset-left));
        padding-right: m#{a}x(20px, env(safe-area-inset-right));
      }
    }
  }

  .content {
    justify-content: center;
    margin: 20px 0;

    .header {
      padding: 0 24px;

      div {
        justify-content: space-between;

        h2 {
          margin-left: -20px;
        }
      }
    }

    .stepper-content {
      margin-top: 15px;
      margin-left: 35px;
    }

    .align-justify {
      align-items: center;
      justify-content: center;
    }

    .card-container {
      padding: 10px 24px;
      align-items: stretch;

      mat-card-header {
        margin-left: -16px;
        margin-bottom: 5px;

        mat-card-title {
          margin: 0;
          font-size: 17px;
        }
      }

      mat-card-content {
        line-height: 13pt;
        text-align: justify;
      }

      mat-card-actions {
        padding-bottom: 22px;

        a {
          position: absolute;
          left: 16px;
          bottom: 0;
          margin-bottom: 7px;
        }
      }
    }
  }
}
