<div class="wrapper">
  <div class="content-header mat-toolbar mat-primary">
    <span>
      Downloads
    </span>
  </div>
  <div class="content" fxLayout="column wrap">
    <div class="header" fxLayout="row wrap" fxLayoutAlign="center">
      <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-xl="0 1 82%" fxFlex.lt-lg="0 1 90%" fxFlex.lt-md="0 1 90%"
        fxFlex.lt-sm="0 1 85%" class="align-justify">
        <h2>
          Download selection
        </h2>
      </div>
    </div>
    <div>
      <div class="header" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-xl="0 1 82%" fxFlex.lt-lg="0 1 90%" fxFlex.lt-md="0 1 90%"
          fxFlex.lt-sm="0 1 85%" class="align-justify">
          <mat-vertical-stepper linear #stepper fxFlex="1 1 100%">
            <ng-template matStepperIcon="edit" let-index="index">
              {{ index + 1 }}
            </ng-template>
            <ng-template matStepperIcon="number" let-index="index">
              {{ index + 1 }}
            </ng-template>
            <mat-step>
              <ng-template matStepLabel>Select operating system</ng-template>
              <div class="stepper-content">
                <mat-form-field color="primary">
                  <mat-label>
                    Operating System
                  </mat-label>
                  <mat-select [(value)]="selectedOperatingSystem">
                    <mat-option *ngFor="let os of ['Windows', 'MacOS', 'Linux', 'Other']" [value]="os" [innerText]="os">
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </div>
            </mat-step>
            <mat-step completed='false'>
              <ng-template matStepLabel>Select download</ng-template>
              <div fxLayoutAlign="center" class="stepper-content">
                <div fxFlex="1 1 85%" fxFlex.lt-xl="0 1 82%" fxFlex.lt-lg="0 1 100%">
                  <div fxLayout="row wrap" fxLayoutAlign="start">
                    <div class="card-container" fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                      <mat-card class="mat-elevation-z3" fxFlex="1 1 auto"
                        [style.opacity]="selectedOperatingSystem == 'Windows' || selectedOperatingSystem == 'MacOS' ? 1 : 0.35">
                        <mat-card-header>
                          <mat-card-title>
                            Launcher
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <h4 *ngIf="selectedOperatingSystem == 'Windows' || selectedOperatingSystem == 'MacOS'">
                            Best choice
                          </h4>
                          <h4 *ngIf="selectedOperatingSystem != 'Windows' && selectedOperatingSystem != 'MacOS'">
                            Not yet availble for your operating system
                          </h4>
                          <p>
                            This is a launcher for RuneLitePlus that comes bundled with a java executable. It'll auto
                            update itself when
                            there is a update for the RuneLitePlus client available. No further configuration required!
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <a mat-raised-button="mat-raised-button" color="primary" rel="noopener noreferrer"
                            [href]="selectedOperatingSystem == 'Windows' ? 'https://github.com/runelite-extended/launcher/releases/download/2.1.5.0/RuneLitePlusSetup.Windows64.exe' : 'https://github.com/runelite-extended/launcher/releases/download/2.1.5.0/RuneLitePlus.MacOS.zip'"
                            (click)="downloadClick(0)" [disabled]="selectedOperatingSystem != 'Windows' && selectedOperatingSystem != 'MacOS'">
                            Download
                          </a>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                    <div class="card-container" fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                      <mat-card class="mat-elevation-z3" fxFlex="1 1 auto">
                        <mat-card-header>
                          <mat-card-title>
                            Jar file
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <h4>
                            &nbsp;
                          </h4>
                          <p *ngIf="selectedOperatingSystem == 'Windows' || selectedOperatingSystem == 'MacOS'">
                            Already have java installed and don't want to have it bundled in a launcher, wanting to have
                            control over your java settings, whatever your motivation is you can also download the jar
                            file! (The jar file will not update itself when there is a client update available unlike
                            the launcher).
                          </p>
                          <p *ngIf="selectedOperatingSystem != 'Windows' && selectedOperatingSystem != 'MacOS'">
                            We currently only release a jar file for your operating system. The jar file will not
                            update itself when there is an update available. Stay tuned for more download options!
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <a mat-raised-button="mat-raised-button" color="primary" rel="noopener noreferrer"
                            href="https://github.com/runelite-extended/launcher/releases/download/2.1.5.0/RuneLitePlus.jar" (click)="downloadClick(1)">
                            Download
                          </a>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start" class="stepper-content">
                <button mat-button matStepperPrevious>Back</button>
              </div>
            </mat-step>
            <mat-step optional>
              <ng-template matStepLabel>Compare hashes</ng-template>
              <div class="stepper-content">
                <table class="mat-table">
                  <tr class="mat-header-row">
                    <th class="mat-header-cell">Hashing algorithm</th>
                    <th class="mat-header-cell">Hashing value</th>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell">MD5</td>
                    <td class="mat-cell" [innerText]="getHash(0)"></td>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell">SHA1</td>
                    <td class="mat-cell" [innerText]="getHash(1)"></td>
                  </tr>
                </table>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                </div>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
