.card {
  width: 250px;                 /* Set width of cards */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
}
.card2 {
  width: 230px;                 /* Set width of cards */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.row2 {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -11.5rem;
  margin-left: -11.5rem;
  margin-top: 25px;
  margin-bottom: -10px;
}

.row3 {
  box-sizing: border-box;
  /* display: flex; */
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: 30rem;
  margin-top: -4.5rem;
}

.card-header {
  color: black;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;

}
.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

