.wrapper
  .content-header.mat-toolbar.mat-primary
    span Updates


  .content(fxLayout="row wrap", fxLayoutAlign="center")
    div(fxFlex="0 1 45%", fxFlex.lt-lg="0 1 70%", fxFlex.lt-md="0 1 80%", fxFlex.lt-sm="90%")
      h2 Client updates

      mat-accordion
        mat-expansion-panel(*ngFor="let update of updates$ | async")
          mat-expansion-panel-header
            mat-panel-title([innerText]="update.title")
            mat-panel-description(fxHide.lt-md="true", [innerText]="update.date | commitDate")
          mat-action-row(fxHide="true", fxHide.lt-md="false")
            h1 Update date:
            p
              span([innerText]="update.date | commitDate")
          mat-action-row
            mat-chip-list(aria-label="Tags")
              mat-chip(*ngFor="let category of update.categories", [innerText]="category", color="primary", selected)
              mat-chip(*ngFor="let tag of update.tags", [innerText]="tag", color="accent", selected)
          mat-action-row
            app-post([update]="update")
          mat-action-row.github-links
            a(mat-raised-button, color="primary", (click)="openBottomSheet(update)") Share
            a(mat-raised-button, color="primary", [routerLink]="'/update/' + update.mdFile") Full page
            a(mat-raised-button, color="primary", target="_blank", rel="noopener noreferrer", [attr.href]="'https://github.com/runelite-extended/runelitepl.us/blob/master/src/assets/posts/' + update.mdFile + '.md'") Edit on github


    div(fxFlex="0 1 45%", fxFlex.lt-lg="0 1 70%", fxFlex.lt-md="0 1 80%", fxFlex.lt-sm="90%")
      h2 Latest Github commits

      mat-accordion(*ngIf="!fatalError && (commits$ | async) as commits; else noCommits")
        mat-expansion-panel(*ngFor="let commit of commits")
          mat-expansion-panel-header
            mat-panel-title([innerText]="commit.commit.message | commitMessage")
            mat-panel-description(fxHide.lt-md="true", [innerText]="commit.commit.committer.date | commitDate")
          mat-action-row(fxHide="true", fxHide.lt-md="false")
            h1 Commit date:
            p
              span([innerText]="commit.commit.committer.date | commitDate")
          mat-action-row
            h1 Author:
            p
              span([innerText]="commit.commit.author.name")
              span(*ngIf="commit.commit.author.name !== commit.author.login", [innerText]="' (Github name: ' + commit.author.login + ')'")
          mat-action-row(*ngIf="commit.commit.author.name !== commit.commit.committer.name && commit.commit.committer.name !== 'GitHub'")
            h1 Commiter:
            span([innerText]="commit.commit.committer.name")
            p
              span([innerText]="commit.commit.committer.name")
              span(*ngIf="commit.commit.committer.name !== commit.committer.login", [innerText]="'(Github name: ' + commit.committer.login + ')'")
          mat-action-row
            h1 Full commit message:
            p([innerText]="commit.commit.message")
          mat-action-row.github-links
            a(mat-raised-button, color="primary", target="_blank", rel="noopener noreferrer", [attr.href]="commit.html_url") Github commit
            a(mat-raised-button, color="primary", target="_blank", rel="noopener noreferrer", [attr.href]="commit.author.html_url") Github author
            a(*ngIf="commit.commit.author.name !== commit.commit.committer.name && commit.commit.committer.name !== 'GitHub'", mat-raised-button, color="primary", target="_blank", rel="noopener noreferrer", [attr.href]="commit.committer.html_url") Github comitter

      ng-template(#noCommits)
        p The latest github commits could not be fetched.
