.wrapper {
  margin-top: 64px;

  .content-header {
    height: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      font-weight: normal;
      padding: 0 20px;
    }
  }

  .content {
    margin: 20px 0;

    div {
      margin-top: 20px;
      padding: 0 24px;

      h2 {
        margin-bottom: 10px;
        font-size: 1.5em;
      }
    }

    mat-accordion {
      width: 100%;
    }

    mat-panel-title {
      height: 16px;
    }

    mat-panel-description {
      justify-content: flex-end;
    }

    .full-message {
      margin-top: 10px;
    }
  }
}
