.wrapper
  .content-header.mat-toolbar.mat-primary
    span Updates


  .content(fxLayout="row wrap", fxLayoutAlign="center")
    div(fxFlex="0 1 45%", fxFlex.lt-lg="0 1 70%", fxFlex.lt-md="0 1 80%", fxFlex.lt-sm="90%")
      h2 Client updates

      mat-accordion
        mat-expansion-panel
          mat-expansion-panel-header
            mat-panel-title Title stub
            mat-panel-description This is a summary of the content
          p stub

    div(fxFlex="0 1 45%", fxFlex.lt-lg="0 1 70%", fxFlex.lt-md="0 1 80%", fxFlex.lt-sm="90%")
      h2 Latest Github commits

      mat-accordion(*ngIf="!fatalError && (commits$ | async) as commits; else noCommits")
        mat-expansion-panel(*ngFor="let commit of commits")
          mat-expansion-panel-header
            mat-panel-title([innerText]="commit.commit.message | commitMessage")
            mat-panel-description([innerText]="commit.commit.committer.date | commitTime")
          p
            a(mat-raised-button, color="primary", target="_blank", rel="noopener noreferrer", [attr.href]="commit.html_url") Github

      ng-template(#noCommits)
        p The latest github commits could not be fetched.
