.wrapper {
  .content-header {
    padding-top: 64px;
    height: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      font-weight: normal;
      padding: 0 20px;

      @supports(padding: m#{a}x(0px)) {
        padding-left: m#{a}x(20px, env(safe-area-inset-left));
        padding-right: m#{a}x(20px, env(safe-area-inset-right));
      }
    }
  }

  .content {
    margin: 20px 0;

    div {
      margin-top: 20px;
      padding: 0 24px;

      h2 {
        margin-bottom: 10px;
        font-size: 1.5em;
      }
    }

    mat-accordion {
      width: 100%;
    }

    mat-panel-title {
      height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    mat-panel-description {
      justify-content: flex-end;
    }

    mat-action-row {
      flex-direction: column;
      justify-content: flex-start;

      h1 {
        font-weight: 600;
        font-size: larger;
      }

      p {
        margin-top: 5px;
      }
    }

    mat-action-row.github-links {
      flex-direction: row;
      padding: 16px 19px 16px 19px;

      a {
        flex-grow: 1;
        margin: 0 5px;
      }
    }

    .full-message {
      margin-top: 10px;
    }
  }
}
