.header {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px -10px rgba(0, 0, 0, .14), 0 1px 18px -18px rgba(0, 0, 0, .12);
  position: fixed;
  z-index: 999;
}

mat-toolbar-row {
  padding: 0 20px;

  .title {
    display: flex;
    height: 32px;
    align-items: center;

    .logo {
      margin-right: 5px;
    }

    span {
      margin-right: 10px;
    }
  }

  .icon {
    padding: 0 14px;
    margin-left: -6px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.mobile-nav {
  height: 36px;
}
